body {
  background-color: #FFFFFF
  font-family: 'Ubuntu', sans-serif;
}
          
 .imgholder{
 	height: 200px;
 	background: url("/images/roulette.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-backface-visibility: hidden;
    }      
#main-box{
	margin-top:10%;
	background:url('images/bg_black.png');
	color:#ffffff;
	padding:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #000;
	text-align: center;
	-webkit-box-shadow: 0px 0px 25px 5px #FFFFFF;
	box-shadow: 0px 0px 25px 5px #FFFFFF;
}

#main-box b{
	text-transform: uppercase;
	color: #2BCF44;
	display: block;
	margin: 0 0 20px 0;
	font-weight: bold;
	font-size: 35px;
}